body {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: rgba(111, 184, 249, 0.55);
}

h1 {
    text-align: center;
    margin-left: 40%;
    margin-right: 40%;
}

img {
    width: 700px;
    height: auto;
}

li img {
    height: 300px;
    width: auto;
}

#recipe-image {
    margin-left: auto;
    margin-right: auto;
    display: block;
    border-radius: 50px;
}

h1 {
    background-color: rgba(219, 70, 70, 0.2);
}

.description {
    background-color:rgba(255, 182, 193, 75%);
}

.ingredients {
    background-color: rgba(144, 238, 144, 60%);
}

.directions {
    background-color: rgba(128, 0, 32, 30%)
}

.credit {
    background-color:rgba(127, 255, 212, 80%);
}